[Unit]
Description=Sync system clock from Hardware Clock (RTC)
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/sbin/hwclock -s
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target

