<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>It works</h1>
    <p>Welcome to LAC interface</p>
    <!--Buttons-->
    <button class="btn btn-pill btn-outline-primary" type="button">Primary</button>
    <button class="btn btn-pill btn-outline-secondary" type="button">Secondary</button>
    <button class="btn btn-pill btn-outline-info" type="button">Info</button>
    <button class="btn btn-pill btn-outline-success" type="button">Success</button>
    <button class="btn btn-pill btn-outline-danger" type="button">Danger</button>
    <!--End Of Buttons-->
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>
