<meta charset="UTF-8">
<title>TAC Is Fun</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
<script src="/js/bootstrap.js"></script>
<style>
  body { padding-top:50px; }
</style>